body{
    font-family: 'PT Sans Caption', sans-serif;
}
h1{
    font-size: 50px;
}
#name{
    color: brown;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding: 4%;
}
img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    color: skyblue;
    background-image: linear-gradient(tomato, salmon);
    font-weight: 750;
    border-radius: 5px;
    padding: 10px 20px;
}